/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/ui/welcome/background-style.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
body {
    background: rgb(255,255,255);
    background: linear-gradient(348deg, rgba(255,255,255,1) 35%, rgba(9,9,121,1) 56%, rgba(71,71,155,1) 100%);
}

@font-face {
    font-family: "San Francisco";
    src: url(/_next/static/media/san-francisco-reg.0fe7ec85.woff2);
    font-weight: normal;
    font-style: normal;
  }

